#cart{
     /* width: 10%;  */
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
#icono{
    width: 5vh;
    height: 5vh;
    padding: 6vh; 
    border-radius: 100%;
    
}
#carrito{
    width: 150%;  
    
}