
#icono{
    width: 8vh;
    height: 8vh;
    padding: 2rem; 
    border-radius: 100%;  
}
.carrito{
    width: 20%;
    height: 20%; 
    padding-top: 2rem; 
    padding: 0.5rem;
} 
.total{
    display: inline-block;
    color: black;
}