
#NavBar{
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: grey;  
}
#nav{
    width: 80%;
    display: flex;
    align-items: flex-end;     
}
ul{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    list-style: none;  
}
.link{
    padding: 1vw 4vh;
    text-decoration: none;
    color: black;
    list-style: none;  
}
.productos{
    color: black;
    text-decoration: none;
    padding: 2vh 1vh;
}
li{
    list-style: none;
    padding: 1vw 4vh;                
} 
.lista-productos{
    display: none;
    border: 2px solid black;
    position: absolute;
    background-color: grey;
    width: 100px; 
}
ul li:hover ul.lista-productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
ul li ul.sub-menu:hover{
    border-bottom: 2px;
    
}
.sub-menu{
    color: black;
    text-decoration: none;
    width: 100%;
    padding: 1vh;   
}
#marca{
    width: 10%;   
}
.logo{
    width: 7vw;
    padding: 1vh 3vh;
}
