/* 
div{
   background-color: grey; 
   display: flex;
   flex-direction: column;
   justify-content:end;
}

ul{
    display: flex;
    flex-direction: row;
    
    list-style: none;
}


ul li{
    margin: 20px;
} */


#NavBar{
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: grey;
     
}
#nav{
    width: 80%;
    display: flex;
    align-items: flex-end; 
    
}
ul{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}
li{
    list-style: none;
    padding: 1vw 4vh;               
}
#marca{
    width: 10%;   
}
.logo{
    width: 7vw;
    padding: 1vh 3vh;
}